<div>
   <h2>Repository name: {{repo.name}}</h2>
   <div>Number of open issues: {{repo.open_issues_count}}</div>
   {{error}}

   <h2>Contributors</h2>

   <select ng-model="contribSortOrder">
      <option value="+name">Name</option>
      <option value="-contributions">Contributions</option>
   </select>

   <table ng-show="contributors">
      <thead>
         <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Contributions</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="contributor in contributors | orderBy:contribSortOrder">
            <td><img ng-src="{{contributor.avatar_url}}" alt="{{contributor.name}}" width=50px height=50px></td>
            <td>{{contributor.login}}</td>
            <td>{{contributor.contributions | number}}</td>
         </tr>
      </tbody>
   </table>
   <p></p>
   <a href="#/main.html">Back to search</a>
</div>